<!DOCTYPE  html>
<html>
<head>
    <title>flight  details</title>
</head>
<body>
   <h1>flight {{ flight.id }}</h1>
   <ul>
       <li>Origin :{{flight.origin}}</li>
       <li>destination :{{flight.destination}}</li>
       <li>duration :{{flight.duration}}</li>
       <li>seats available :{{flight.seat_available}}</li>
   </ul>
    <h2>
       Passenger
    </h2>
    <ol>
        {%  for passenger in passengers  %}
        <li>{{ passenger }} {{passenger.id}}</li>
        {%  endfor %}
    </ol>
     <h1>ADD Passenger</h1>
     <form action="{% url 'book' flight.id %}" method="post">
         {% csrf_token  %}
         <input type="number" name="passenger_id" placeholder="id">
         <input type="text" name="passenger_sex" placeholder="sex">
         <input type="text" name="passenger_name" placeholder="name">
         <input type="number" name="passenger_age" placeholder="age">
         <input type="submit">
     </form>

  <a href="{% url 'index' %}">flights list</a>
</body>
</html>