<!DOCTYPE html>
<html>
<head lang="en">

    <title>ARS</title>
</head>
<body>

  <h1>FLIGHTS</h1>

   <form action="{% url  'search'  %}" method="post">
         {% csrf_token  %}
       <h1>Origin :</h1>
       <select name="origin"  id="s" >
           {% for Airport in Airports %}
           <option value="{{ Airport.id }}">{{ Airport.city }}</option>
           {% endfor %}
       </select>
       <h1>Destination :</h1>
       <select name="destination"  id="" >
           {% for Airport in Airports %}
           <option value="{{ Airport.id }}">{{ Airport.city }}</option>
           {% endfor %}
       </select>
       <input type="submit">
     </form>
     <a href="{%  url 'logout' %}">logout</a>

</body>
</html>